#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
  line-height: 1;
}
header span {
  margin-right: 10px;
}
header span {
  line-height: 1.15rem;
}
.title {
  margin-bottom: 20px;
}
.calender {
  width: 400px;
  padding: 1.4rem 1rem;
  margin: 0 auto;
  background: #333;
  border-radius: 10px;
  color: #fff;
}
.calender ul.date {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.calender ul.date li {
  border-bottom: 1px solid rgba(255, 255, 255,.2);
  padding: 0.8rem 0.5rem;
}
.calender header {

}

